
<!-- Navigation box for logged in normal users (not admins) -->
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Navigation</h3>
    </div>
    <div class="panel-body">
        <p><a href="#/">Home</a></p>
        <div ng-if="authService.isNormalUser()">
            <p ng-click="loadMyAds()"><a href="#/user/ownAds">My Ads</a></p>
            <p><a href="#/user/createAdd">Publish New Ad</a></p>
            <p><a href="#/user/editProfile">Edit Profile</a></p>
        </div>
    </div>
</div>

<!-- Login / register box for anonymous site visitors -->
<div ng-if="authService.isAnonymous()">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Login/Register</h3>
        </div>
        <div class="panel-body">
            <p>To publish a new ad, please login.</p>
            <a href="#/login" class="btn btn-primary">Login</a>
            <a href="#/register" class="btn btn-primary">Register</a>
        </div>
    </div>


</div>


<div ng-if="authService.isNormalUser()" class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">My Adds</h3>
    </div>
    <div class="panel-body">
        <p><a href="#/user/ownAds">All</a></p>
        <p><a href="#/user/publishedAds">Published</a></p>
        <p><a href="#/user/waitingAds">Waiting Arrpoval</a></p>
        <p><a href="#/user/inactiveAds">Inactive</a></p>
        <p><a href="#/user/rejectedAds">Rejected</a></p>
    </div>
</div>
<!-- Navigation box for logged in admins -->


