<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Publish new Add</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label for="addTitle" class="col-lg-2 control-label">Title:</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="AddTitle" placeholder="Title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="textArea" class="col-lg-2 control-label">Description:</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="3" id="textArea"></textarea>
                        <span class="help-block">Please write a short description of the Add, that you would like to publish.</span>
                    </div>
                </div>
                <p>
                    <label for="image">Image:</label>
                    <input type="file" id="image"
                           onchange="angular.element(this).scope().fileSelected(this)" />
                <div class="image-box">
                    <p>Image Preview</p>
                </div>
                </p>

                <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Category:</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="select">
                            <option ng-repeat="category in categories">{{category.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="select" class="col-lg-2 control-label">Towns:</label>
                    <div class="col-lg-10">
                        <select class="form-control" id="select">
                            <option ng-repeat="town in towns">{{town.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button class="btn btn-default">Publish</button>
                        <button type="submit" class="btn btn-primary">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>