<div clss="row">
    <div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Edit Profile</h3>
        </div>
        <div class="panel-body">
                <p>
                    <label for="name">name:</label>
                    <input type="text" id="name" ng-model="currentUser.name" required />
                </p>
                <p>
                    <label for="phone">phone:</label>
                    <input type="text" id="phone" ng-model="currentUser.phoneNumber" required />
                </p>
                <p>
                    <label for="email">email:</label>
                    <input type="text" id="email" ng-model="currentUser.email" required />
                </p>

                <p>
                    <label for="town">Town:</label>
                    <select id="town" ng-model="currentUser.townId">
                        <option ng-repeat="town in towns" value="{{town.id}}">
                            {{town.name}}
                        </option>
                    </select>
                </p>
                <p>
                    <a ng-click="editUserProfile(currentUser)" class="button">Edit profile</a>
                    <a href="#/" class="link">cancel</a>
                <p>
            </div>
        </div>
    </div>
<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Edit Password</h3>
        </div>
        <div class="panel-body">
                <p>
                    <label for="oldPassword">old password:</label>
                    <input type="text" id="oldPassword" ng-model="userData.oldPassword" required />
                </p>
                <p>
                    <label for="newPassword">confirm password:</label>
                    <input type="text" id="newPassword" ng-model="userData.newPassword" required />
                </p>
                <p>
                    <label for="confirmPassword">confirm password:</label>
                    <input type="text" id="confirmPassword" ng-model="userData.confirmPassword" required />
                </p>
                <p>
                    <a ng-click="changePassword(userData)" class="button">Change password</a>
                    <a href="#/" class="link">cancel</a>
                <p>
            </div>
        </div>
    </div>
</div>
